<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyZoo</title>

    <!-- Bootstrap desde Composer -->
    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">



    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            padding:none;        }

       .zoo-header {
            background-color: #4caf50; /* Verde fuerte (tema natural) */
            color: white;
            padding: 1rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        }
        .zoo-footer {
            background-color: #354f30; /* Fondo verde oscuro */
            color: white; /* Texto blanco */
            padding: 2rem 0; /* Relleno en el footer */
        }

            .zoo-footer h5 {
            color: #f1c40f; /* Color dorado para los títulos */
        }

            .zoo-footer a {
            text-decoration: none; /* Elimina subrayado */
            color: #aab7b8; /* Color gris para los enlaces */
        }

.zoo-footer a:hover {
    color: #f1c40f; /* Color dorado en hover */
}



        main {
            padding: 2rem;
            background: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 2rem;
        }

        .noticia-container {
            margin: 0 auto;
            max-width: 800px; /* Limita el ancho para mayor legibilidad */
            padding: 1rem;
            background-color: #f9f9f9; /* Fondo de las noticias */
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .noticia-container h3 {
            font-size: 1.8rem;
            color: #3a5a40; /* Verde oliva */
        }

        .noticia-container p {
            font-size: 1rem;
            color: #333;
        }

        .noticia-container img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .nav-item a {
            color: white;
        }

        .nav-item a:hover {
            color: #ffeb3b; /* Color amarillo para hover */
        }
    </style>
</head>
<body>
    {% include 'headerprivate.html.twig' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'footer.html.twig' %}
</body>
<script src="/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>
