<?php
// Incluir la librería JWT para verificar el token
include_once 'JWTController.php'; // Asegúrate de incluir la ruta correcta de tu archivo JWT.php

// Verificar si el JWT está presente en las cookies
if (!isset($_COOKIE['jwt'])) {
    header("Location: login.php");
    exit();
}

$jwt = $_COOKIE['jwt'];

// Verificar si el JWT es válido
if (!verificarJWT($jwt, 'mi_clave_secreta')) {
    header("Location: login.php");
    exit();
}

// Si el JWT es válido, podemos continuar y mostrar el contenido del panel de administración
?>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Panel de Administración</h2>
        <p class="text-center">Bienvenido, administrador. Desde aquí puedes gestionar las especies y otros contenidos.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath
