{% extends 'base.html.twig' %}

{% block title %}Lista de Especies - MyZoo{% endblock %}

{% block content %}
<h1 class="my-4">Lista de Animales</h1>

<div class="animal-container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Especie</th>
                <th>Hábitat</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody id="species-table">
            {% for animal in animales %}
            <tr>
                <td>{{ animal.especie }}</td>
                <td>{{ animal.habitat }}</td>
                <td>{{ animal.descripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}