# Habilitar el motor de reescritura
RewriteEngine On

# Establecer la base para el frontend
RewriteBase /frontend/public/

# Excluir solicitudes para archivos o directorios existentes en el frontend/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las demás solicitudes del frontend a index.php
RewriteRule ^(.*)$ index.php [L,QSA]